:root {
  --hue-value-1: 207.18;
  --hue-value-2: 230;
  --main-color: hsl(var(--hue-value-1), 74%, 61%);
  --button-hover-color: hsl(var(--hue-value-1), 57%, 53%);
  --body-bg-color: hsl(var(--hue-value-1), 63%, 97%);
  --border-color-2: hsl(var(--hue-value-1), 40%, 93%);
  --shadow: 0 0 10px hsl(var(--hue-value-1), 40%, 90%);
  --body-gradient-bg-color-1: hsla(var(--hue-value-1), 100%, 50%, 0.2);
  --body-gradient-bg-color-2: hsla(var(--hue-value-2), 100%, 50%, 0.2);
  --decoration-bg-color-1: hsl(var(--hue-value-1), 100%, 70%);
  --decoration-bg-color-2: hsl(var(--hue-value-2), 100%, 70%);
  --hero-img-gradients: linear-gradient(
          213.55deg,
          #8aceff 11.56%,
          rgba(110, 174, 228, 0) 63.58%
        );
        --background-diagonal-gradients: linear-gradient(
          238.86deg,
          #6eaee4 14.38%,
          rgba(110, 174, 228, 0) 75.41%
        );
        --background-gradients: linear-gradient(
          180deg,
          #6eaee4 14.38%,
          rgba(110, 174, 228, 0) 75.41%
        );
        --white-color: #fff;
        --social-link-shadow-color: rgba(0, 0, 0, 0.1);
        --lighter-accent-color: #f2f9ff;
}


